<div class="main" fxLayout="column">
  <div class="heading" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start center" fxLayoutGap="50px">
      <div class="avatar">
        <img src="https://api.adorable.io/avatars/285/amir@med.png" alt="">
      </div>
      <div class="n-start">
        <h3>Med Amir Saadallah</h3>
        <span>A computer Geek , that simpel</span>
      </div>
    </div>
    <button mat-icon-button>
      <mat-icon aria-label="seetings">settings</mat-icon>
    </button>
  </div>
  <div fxLayout="row">
    <div class="profile-content" fxLayout="column">
      <div class="about-section">
        <div class="cord" fxLayout="row" fxLayoutAlign="end start">
          <div fxFlex="240px" fxShow.lt-md="false"></div>
          <ul fxFlex>
            <li>Email : amirs-m-s@live.com</li>
            <li>Phone : (+216)93 10 50 62</li>
            <li>Adresse : Tunis Bardo, Tunisia</li>
            <li>Birth date : 19 august 1994 (24 years old)</li>
          </ul>
        </div>
        <h4>About : </h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor ab autem voluptatem illum consectetur.
          Laboriosam
          facilis minima sed aliquam. Repellat est quos cumque quod. Quam dolores ex veritatis. Ea, rem! Lorem ipsum
          dolor sit amet consectetur adipisicing elit. Minima eos earum, eaque corporis mollitia eligendi amet, vitae,
          dolor quos ratione iure rerum quod quia ea culpa eveniet! Neque, architecto vitae.</p>
        <h4>What i'm looking for ! : </h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor ab autem voluptatem illum consectetur.
          Laboriosam
          facilis minima sed aliquam. Repellat est quos cumque quod. Quam dolores ex veritatis. Ea, rem! Lorem ipsum
          dolor sit amet consectetur adipisicing elit. Minima eos earum, eaque corporis mollitia eligendi amet, vitae,
          dolor quos ratione iure rerum quod quia ea culpa eveniet! Neque, architecto vitae.</p>
        <div class="cord" fxLayout="row" fxLayoutAlign="center center">
          <button mat-stroked-button>GET DEEP</button>
        </div>
      </div>
    </div>
  </div>


</div>
